.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-image: url(../../img/Hero/herobg-min.jpg);
  background-repeat: no-repeat;
}

.section {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 230px;
  }
}

.header {
  padding-top: 66px;
  padding-bottom: 66px;
}

@media screen and (min-width: 1200px) {
  .header-flex {
    display: flex;
    align-items: center;
  }
}

.navbar {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .navbar {
    justify-content: center;
  }
}

.nav-list {
  display: flex;
}
.nav-list__item:not(:first-child) {
  margin-left: 50px;
}
.nav-list__link {
  font-weight: 600;
  line-height: 1.38;
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .search-form {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .search-form {
    display: flex;
    margin-left: auto;
  }
}

.search-form__label {
  position: relative;
}

.search-form__input {
  padding: 14px 42px;
  height: 40px;
  margin: 0;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
}
.search-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  color: #ffffff;
}
.search-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  color: #ffffff;
}
.search-form__input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  color: #ffffff;
}

.search-icon {
  position: absolute;
  top: 10px;
  left: 5px;
  fill: #ffffff;
}

.flex-hero {
  display: flex;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  padding: 20px;
}
@media screen and (max-width: 767.68px) {
  .social {
    display: none;
  }
}

.social__link {
  color: currentColor;
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.social__link:hover, .social__link:focus {
  color: #FFC178;
}

.social__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
}

.social__list {
  display: flex;
}

.social__icon {
  margin-left: 22px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .social__icon {
    margin-left: 0;
    margin-top: 22px;
  }
}

@media screen and (max-width: 767.68px) {
  .social-mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
  }
}
@media screen and (min-width: 768px) {
  .social-mobile {
    display: none;
  }
}

.hero-information {
  padding: 20px;
  position: relative;
}

.hero-information__pre-title {
  position: relative;
  margin-bottom: 32px;
  text-align: center;
  color: #FFC178;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.38;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.hero-information__pre-title::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -10px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  border-bottom: 2px solid #FFC178;
}
@media screen and (min-width: 768px) {
  .hero-information__pre-title {
    text-align: start;
  }
  .hero-information__pre-title::before {
    content: "";
    top: 50%;
    left: -40px;
    display: block;
    width: 30px;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .hero-information__pre-title {
    text-align: start;
    color: #FFC178;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1200px) {
  .hero-information__pre-title::before {
    left: -50px;
    width: 40px;
  }
}

.hero-information__main-title {
  font-family: "Raleway";
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  line-height: 1.48;
  text-transform: capitalize;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero-information__main-title {
    font-size: 55px;
    line-height: 1.04;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .hero-information__main-title {
    text-align: start;
    font-size: 96px;
    line-height: 1.04;
    text-transform: capitalize;
    color: #ffffff;
  }
}

.hero-information__after-title {
  display: flex;
  color: #ffffff;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hero-information__after-title:hover, .hero-information__after-title:focus {
  color: #FFC178;
}
.hero-information__after-title:hover .hero-information__icon, .hero-information__after-title:focus .hero-information__icon {
  transform: rotate(180deg);
}

.hero-information__icon {
  fill: currentColor;
  margin-left: 9px;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (min-width: 1200px) {
  .content-box-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
  }
}

@media screen and (min-width: 1200px) {
  .content-box-flex-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
  }
}

@media screen and (max-width: 1200px) {
  .content-img {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .content-box {
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .content-box {
    max-width: 632px;
  }
}

.content-box__preTitle {
  color: #FFC178;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.content-box__title {
  margin-top: 15px;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .content-box__title {
    font-size: 64px;
    line-height: 1.38;
  }
}

.content-box__info {
  margin-top: 15px;
  text-align: start;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.78;
}

.content-box__link {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  color: #FFC178;
}
.content-box__link:hover .content-box__icon, .content-box__link:focus .content-box__icon {
  color: #FFC178;
  transform: rotate(90deg) translateY(-10px);
}
@media screen and (max-width: 1200px) {
  .content-box__link {
    justify-content: center;
  }
}

.content-box__icon {
  margin-left: 9px;
  transform: rotate(90deg);
  fill: currentColor;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (min-width: 1200px) {
  .main-box-flex {
    width: 1400px;
  }
}

.thumb {
  display: flex;
  justify-content: center;
  position: relative;
}

.thumb-box {
  display: none;
}
@media screen and (min-width: 767.98px) {
  .thumb-box {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.thumb-box-mobile {
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .thumb-box-mobile {
    display: none;
  }
}

.thumb__pre-title {
  color: #FFC178;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.thumb__title {
  margin-top: 15px;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .thumb__title {
    font-size: 64px;
    line-height: 1.38;
  }
}

.thumb__info {
  margin-top: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.78;
}

@media screen and (max-width: 1199.98px) {
  .subrcibe-flex {
    text-align: center;
  }
}
.subscribe-top {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 1200px) {
  .subscribe-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.subscribe-top__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.31;
  letter-spacing: -0.3px;
}
@media screen and (min-width: 1200px) {
  .subscribe-top__text {
    margin-right: 20px;
  }
}

.subscribe-top__button {
  display: block;
  margin-top: 15px;
  padding: 24px 70px;
  font-family: inherit;
  color: black;
  background-color: #FFA343;
  border-radius: 8px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.31;
}
@media screen and (max-width: 1199.98px) {
  .subscribe-top__button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1199.98px) {
  .subscribe-center {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 20px 0;
  }
}

@media screen and (min-width: 1199.98px) {
  .subscribe-center__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.subscribe-center__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.31;
  letter-spacing: -0.3px;
}

.subscribe-center__form {
  margin-top: 15px;
  width: 310px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1199.98px) {
  .subscribe-center__form {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-center__input {
  padding: 14px 20px;
  height: 70px;
  margin: 0;
  color: #ffffff;
  background-color: transparent;
  border: 0;
}
.subscribe-center__input::-moz-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  color: #ffffff;
}
.subscribe-center__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  color: #ffffff;
}
.subscribe-center__input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  color: #ffffff;
}

.subscribe-center__button {
  font-size: 25px;
  font-family: inherit;
  color: black;
  background-color: #FFA343;
  border-radius: 8px 8px 0px 0px;
  padding: 21px;
}

.subscribe-center__list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.subscribe-center__list:not(:first-child) {
  gap: 10px;
}

.subscribe-center__item {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.231818px;
}
.subscribe-center__item:first-child {
  color: #FFC178;
}

.subscribe-center__link {
  color: currentColor;
}

.subscribe-bottom {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
@media screen and (min-width: 1200px) {
  .subscribe-bottom {
    flex-direction: row;
    align-items: center;
  }
}

.subscribe-bottom__privacy {
  display: flex;
  justify-content: space-around;
}

.subscribe-bottom__text {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.38;
}
@media screen and (min-width: 1200px) {
  .subscribe-bottom__text:not(:first-child) {
    margin-left: 15px;
  }
}

.subscribe-bottom__list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-bottom__list {
    margin-left: auto;
  }
}

.subscribe-bottom__item:hover .subscribe-bottom__icon, .subscribe-bottom__item:focus .subscribe-bottom__icon {
  fill: #FFC178;
}
.subscribe-bottom__item:not(:first-child) {
  margin-left: 15px;
}

.subscribe-bottom__icon {
  transition: fill 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */