// utils
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/_breakpoints";

// base styles
@import "./base/reset";
@import "./base/container";
@import "./base/body-section";

// components

// layuots
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/content/content-block-1";
@import "./layouts/content/_main-box";
@import "./layouts/subscribe";

