
.content-box-flex{
    @media screen and (min-width: $desktop){
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.content-box-flex-1{
    @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
        }
}
.content-img{
    @media screen and (max-width:$desktop){
            display: flex;
                justify-content: center;
    }
}
.content-box {
    
    @media screen and (max-width: 1399px){
            text-align: center;
                margin-top: 20px;
                
    }

    @media screen and (min-width:$desktop){
        max-width: 632px;
    }

}

.content-box__preTitle {
    color: $accentTitlecolor;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.content-box__title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;

    @media screen and (min-width:$desktop){
        font-size: 64px;
            line-height: 1.38;
    }
       
}

.content-box__info {
    margin-top: 15px;
    text-align: start;
    font-weight: 600;
        font-size: 18px;
        line-height: 1.78;
}

.content-box__link {
    display: flex;
            align-items: center;
            justify-content: center;
    margin-top: 15px;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.38;
    color: $accentColor;

    &:hover .content-box__icon,
    &:focus .content-box__icon{
        color: $accentTitlecolor;
        transform: rotate(90deg) translateY(-10px);
    }
@media screen and (max-width:$desktop) {
 

        justify-content: center;
}
                
}

.content-box__icon{
    margin-left: 9px;
    transform: rotate(90deg);
    fill: currentColor;
    transition: transform 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}