body{
    background-color: $bgColor;
    color: $mainTextcolor;
    font-family: $mainFont, sans-serif;
    font-size: 18px;
    background-image: url(../../img/Hero/herobg-min.jpg)
    background-repeat: no-repeat;
}

.section{
    padding-top: 60px;

    @media screen and (min-width: $tablet){
            padding-top: 60px;
    }
        @media screen and (min-width: $tablet) {
            padding-top: 230px;
        }
}