//Fonts
$mainFont: "Roboto";
$secondaryFont: "Raleway";

//Colors
$accentColor: #FFC178;
$accentTitlecolor: #FFC178;
$footerTextcolor: #FFD1A0;
$buttonColor: #FFA343;
$mainTextcolor: #ffffff;
$bgColor: #000000;
$copyrightColor: hsla(0, 0%, 100%, 0.5);

