.header {
    padding-top: 66px;
    padding-bottom: 66px;
}

.header-flex{
    @media screen and (min-width:$desktop){
        display: flex;
            align-items: center;
    }
 
}
.navbar {
    display: flex;
    @media screen and (max-width:$desktop){
    justify-content: center;
    }
}

.nav-list {
    display: flex;


    &__item:not(:first-child) {
        margin-left: 50px;
    }


    &__link {
            font-weight: 600;
            line-height: 1.38;
            color: $mainTextcolor;

            transition: color 300ms cubic-bezier(0.215, 0.610, 0.355, 1);

            &:hover,
                &:focus {
                    color: $accentColor;
                }
        }
}
@media screen and (max-width: 1399.98px){
    .search-form{
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }
}
.search-form{
    @media screen and (min-width:1200px){
        display: flex;
        margin-left: auto;
    }

          &:focus-within .search-icon {
              color: $accentColor;
          }
}
.search-form__label{
    position: relative;
}

.search-form__input{
     padding: 14px 42px;
     height: 40px;
     margin: 0;

    color: $mainTextcolor;
    background-color: transparent;
     border-radius: 10px;
     border-color: transparent;


     &::placeholder{
        font-weight: 400;
            font-size: 17px;
            line-height: 1.35;
            color: $mainTextcolor;

            
     }

     &:focus-within .search-icon,
     &:focus,
    &:focus::placeholder{
        outline: none;
        border-color: $accentColor;
        color: $accentColor;
     }
}
.search-icon {
    position: absolute;
    top: 10px;
    left: 5px;

    fill: currentColor ;
}