
.subrcibe-flex {
    @media screen and (max-width: 1399.98px){
        text-align: center;
    }
 @media screen and (min-width: $tablet) {
     
 }
        
}

.subscribe-top {
    padding: 20px 0;
    text-align: center;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.5);

     @media screen and (min-width: $desktop) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
                 }
}

.subscribe-top__text {
    font-weight: 400;
        font-size: 22px;
        line-height: 1.31;
        letter-spacing: -0.3px;

    @media screen and (min-width: $desktop) {
            margin-right: 20px;
        }
}

.subscribe-top__button {
    display:block;
    margin-top: 15px;

    padding: 24px 70px;
    font-family: inherit;
    color: black;
    background-color: $buttonColor;
    border-radius: 8px;
    font-weight: 700;
        font-size: 17px;
        line-height: 1.31;
        cursor: pointer;

        transition: background-color 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
        
    @media screen and (max-width: 1399.98px) {
        margin-left: auto;
            margin-right: auto;
    }
        
    &:hover,
    &:focus{
        background-color: $accentColor;
    }
}
////////////////////////
.subscribe-center {
    @media screen and(min-width:1399.98px){
        display: flex;
            align-items: baseline;
            justify-content: space-around;
            padding: 20px 0;
    }

}
.subscribe-center__title{
    @media screen and(min-width:1399.98px) {
            display: flex;
                flex-direction: column;
                align-items: flex-start;
        }

}

.subscribe-center__text {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.31;
        letter-spacing: -0.3px;
}

.subscribe-center__form {
    margin-top: 15px;
    width: 310px;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.5);

    @media screen and (max-width: 1399.98px){
            margin-left: auto;
                margin-right: auto;
    }
}
.subscribe-center__input{
        padding: 14px 20px;
            height: 70px;
            margin: 0;
        
            color: $mainTextcolor;
            background-color: transparent;
            border: 0;
        
            &::placeholder {
                font-weight: 400;
                font-size: 17px;
                line-height: 1.35;
                color: $mainTextcolor;
            }  
}
.subscribe-center__button{
    font-size: 25px;
    font-family: inherit;
    color: black;
    background-color: $buttonColor;
    border-radius: 8px 8px 0px 0px;
    padding: 21px;
    cursor: pointer;

    &:hover,
        &:focus {
            background-color: $accentColor;
        }

}
.subscribe-center__list {
            display: flex;
                flex-direction: column;
    margin-top: 30px;

    &:not(:first-child){
        gap: 10px;
    }
}

.subscribe-center__item {
    font-weight: 700;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: -0.231818px;
        transition: color 300ms cubic-bezier(0.215, 0.610, 0.355, 1);

            &:first-child {
                    color: $accentColor;
                }

                 &:hover,
                  &:focus {
                color: $accentColor;
            }
}

.subscribe-center__link {
    color: currentColor;

}
///////////////
.subscribe-bottom{
    display: flex;
   flex-direction: column;
    padding: 20px 0;

    @media screen and (min-width: $desktop) {
            flex-direction: row;
            align-items: center;
        }
    
}
.subscribe-bottom__privacy{
    display: flex;
    justify-content: space-around;

}
.subscribe-bottom__text {
    color: rgba($color: #ffffff, $alpha: 0.5);
    font-weight: 400;
        font-size: 15px;
        line-height: 1.38;

        @media screen and (min-width: $desktop) {
                &:not(:first-child){
                    margin-left: 15px;
                }
            }
}

.subscribe-bottom__list {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: $desktop) {
        margin-left: auto;
        }
}

.subscribe-bottom__item {
    &:hover .subscribe-bottom__icon,
    &:focus .subscribe-bottom__icon{
        fill: $accentColor;
    }

             &:not(:first-child) {
                 margin-left: 15px;
             }   
}

.subscribe-bottom__link {

  color: currentColor;
}

.subscribe-bottom__icon {
    transition: fill 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    fill: $mainTextcolor;
}

.footer-section{
    padding-top: 50px;
    padding-bottom: 50px;
}